<!--左侧导航-->
<aside class="lyear-layout-sidebar">

    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href=""><img src="/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
    </div>
    <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item active"> <a href="/common/dashboard"><i class="mdi mdi-home"></i> 后台首页</a> </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-account-settings-variant"></i>学生</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/account/pickcoursev">选课</a> </li>
                        <li> <a href="/account/evaluation">教师评教</a> </li>
                        <li> <a href="/account/achievements">查看成绩</a> </li>
                        <li> <a href="/account/adminClassTable">查看课表</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-book-open-page-variant"></i> 教材信息</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/account/textbook">查看教材</a> </li>
                        <li> <a href="lyear_js_sliders.html">滑块</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-menu"></i> 多级菜单</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="#!">一级菜单</a> </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="#!">一级菜单</a>
                            <ul class="nav nav-subnav">
                                <li> <a href="#!">二级菜单</a> </li>
                                <li class="nav-item nav-item-has-subnav">
                                    <a href="#!">二级菜单</a>
                                    <ul class="nav nav-subnav">
                                        <li> <a href="#!">三级菜单</a> </li>
                                        <li> <a href="#!">三级菜单</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li> <a href="#!">一级菜单</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>

</aside>